@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    box-sizing: border-box;
    list-style: none;
}
html,
body {
    width: 100%;
    height: 100%;
}
.clear:after {
    clear: both;
    content: '';
    display: block;
}
.clear {
    zoom: 1;
}
a {
    color: #000000;
    text-decoration: none;
}
@mixin tong($w:100px, $h:100px) {
    width: $w;
    height: $h;
}
body {
    position: relative;
}
.left {
    @include tong(200px,100%);
    position: absolute;
    top: 0;
    left: 0;
    background: #4D5E70;
    .left_top {
        @include tong(200px,62px);
        background: #354457;
        padding: 15px;
        box-sizing: border-box;
        img {
            @include tong(32px,32px);
            float: left;
        }
        p {
            line-height: 32px;
            font-size: 20px;
            color: #FFF;
            float: left;
            margin-left: 5px;
        }
    }
    .left_center {
        @include tong(200px,100px);
        padding: 5px 15px;
        border-bottom: 1px solid #354457;
        box-sizing: border-box;
    }
    .left_bottom {
        width: 100%;
        box-sizing: border-box;
        ul {
            p {
                line-height: 44px;
                font-weight: bold;
                color: #B9C0C6;
                font-size: 20px;
                padding-left: 15px;
            }
            li {
                line-height: 40px;
                @include tong(200px,40px);
                box-sizing: border-box;
                color: #B9C0C6;
                font-size: 14px;
                padding-left: 15px;
            }
        }
        .check {
            border-right: 4px solid #647F9D;
            background: #3D4E60;
            color: #FFF;
        }
    }
}
.right {
    @include tong(100%,100%);
    padding-left: 200px;
    box-sizing: border-box;
    .xian {
        display: none;
        &>button {
            background: #FFF;
            color: #EAB67C;
            border-color: #EAB67C;
            margin: 20px 30px;
        }
        ul {
            @include tong(100%,50px);
            line-height: 50px;
            padding: 0 2%;
            box-sizing: border-box;
            background: #E3E8EE;
            li{
                color: #646987;
                font-weight: bold;
            }
        }
        .tab {
            width: 100%;
            margin-top: -15px;
            background: #EFF3F6;
            box-sizing: border-box;
            padding: 20px 0;
            table {
                width: 96%;
                margin:0  2%;
                tr {
                    @include tong(90%,70px);
                    line-height: 70px;
                    background: #FFF;
                }
            }
        }
    }
    .show {
        display: block;
    }
}